{% extends 'partials/_master.twig' %}

{% block main %}
    {% if record is defined %}

        <div class="page-title-wrapper">
        <div class="page-section page-title-intro">
            <p>
            {% set session = record.related('sessions')|first %}
            {% set eventtype = record|taxonomy.types|first|lower %}
            {% if eventtype == "keynote" %}
                A <strong>{{ record|taxonomy.types|first|lower }}</strong> in the <strong><a href="{{ path('contentlink', {contenttypeslug: 'sessions', slug: session.slug}) }}">{{ session.title }}</a></strong> session{% if session.starttime is not empty %} on <strong>{{ session.starttime|date('l jS') }}</strong> at <strong>{{ session.starttime|date('g.i a') }}</strong>{% endif %}.
            {% elseif eventtype == "theme-setting" %}
                The <strong>theme setting</strong> paper for the <strong><a href="{{ path('contentlink', {contenttypeslug: 'sessions', slug: session.slug}) }}">{{ session.title }}</a></strong> session{% if session.starttime is not empty %} on <strong>{{ session.starttime|date('l jS') }}</strong> at <strong>{{ session.starttime|date('g.i a') }}</strong>{% endif %}.
            {% else %}
                A <strong>{{ record|taxonomy.types|first|lower }}</strong> paper in the <strong><a href="{{ path('contentlink', {contenttypeslug: 'sessions', slug: session.slug}) }}">{{ session.title }}</a></strong> session{% if session.starttime is not empty %} on <strong>{{ session.starttime|date('l jS') }}</strong> at <strong>{{ session.starttime|date('g.i a') }}</strong>{% endif %}.
            {% endif %}
            </p>
       </div>
            <h1 class="page-title">{{ record.title }}</h1>
        </div>
        <div class="page-sections-wrapper">

            {% if bumpers is defined %}
            {% include 'partials/_recordbumper.twig' with {'record': record} %}
            {% endif %}

            <div class="page-section page-section-text authors">
                {{ record.authors|markdown }}
            </div>

            <div class="page-section page-section-text">
                {{ record.body|markdown }}
            </div>

        {% if record.blocks|length > 0 %}
        {% include 'partials/_sub_blocks.twig' with {'record': record, 'bumpers': true} %}
        {% else %}
        <div class="page-sections-wrapper">
            {% if bumpers is defined %}
            {% include 'partials/_recordbumper.twig' with {'record': record} %}
            {% endif %}

            <div class="page-section page-section-text outro-after">
                {{ record.teaser|markdown }}
            </div>

            <div class="page-section page-section-text twocoltext">
                {% if record.citation is not empty %}
                    <div class="page-section-2coltext-left">
                        <h2>Reference</h2>
                        {{ record.citation|markdown }}
                    </div>
                {% endif %}

                <div class="page-section-2coltext-right">
                    <h2>Links</h2>
                    <p>
                    {% if record.pdffile is not empty %}
                    <a href="{{ asset(record.pdffile, "files") }}" title="Read '{{ record.title }}'">Download a copy of this paper</a><br />
                    {% elseif record.pdflink is not empty %}
                    <a href="{{ record.pdflink }}" title="Read '{{ record.title }}'">Download a copy of this paper</a><br /><br />
                    {% endif %}
                    <a href="{{ session.link }}">&laquo; Browse other papers in this session</a>
                    <br />
                    <a href="{{ path('contentlisting', {contenttypeslug: 'programme'}) }}" title="Browse the complete HttF programme">&laquo; Browse the complete programme</a><br />
                    <a href="{{ path('contentlink', {contenttypeslug: 'page', slug: 'cfp'}) }}" title="Read the Call for Papers">&laquo; Read the Call for Papers</a>
                    </p>
                </div>
            </div>

        </div>
        {% endif %}
    {% endif %}
{% endblock %}