{% extends 'partials/_master.twig' %}

{% block main %}
{% setcontent record = 'page/programme' %}
{% if record  %}
{% include 'partials/_record.twig' with {'record': record} %}
{% else %}
{{ redirect(path('contentlink', {contenttypeslug: 'page', slug: '404-not-found'})) }}
{% endif %}

{% setcontent panels = 'panels' orderby 'starttime' %}
{% setcontent papers = 'programme' where { types: '!theme-setting' } %}
<div class="page-section page-section-text">
    {% for panel in panels %}
        <div class="panelgap">
            <h2><a href="{{ panel.link }}" class="nolinkcolour" title="Read about the {{ panel.title }} session">{{ panel.title }}</a>{% if panel.starttime %} <small><span class="badge badge-pill badge-dark">{{ panel.starttime|date('l') }} at {{ panel.starttime|date('g.i a') }}{% endif %}</span></small></h2>
            {% for paper in papers if panel.id in paper.relation.panels %}
            <div class="page-section-text">
                <div class="page-section-paper card">
                    <div class="paper-type">
                        {{ paper|taxonomy.types|first }}
                   </div>
                   <div class="paper-title">
                        <a href="{{ paper.link }}" title="Read {{ paper.title }}">
                            {{ paper.title }}
                        </a>
                    </div>
                    <div class="paper-authors">
                        {{ paper.authors|markdown }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Unfortunately, no session were be found.</p>
    {% endfor %}
    </div>
</div>

{% endblock %}
