{% extends 'partials/_master.twig' %}

{% block main %}
{% setcontent record = 'page/programme' %}
{% if record  %}
{% include 'partials/_record.twig' with {'record': record} %}
{% else %}
{{ redirect(path('contentlink', {contenttypeslug: 'page', slug: '404-not-found'})) }}
{% endif %}

{% setcontent panels = 'panels' orderby 'datetime' %}
{% setcontent papers = 'programme' where { types: '!theme-setting' } %}
{% set panelsperside = (panels|length // 2) - 1%}
<div class="page-section page-section-text twocoltext">
    <div class="page-section-2coltext-left">
    {% for panel in panels %}
        <div>
            <h2><a href="{{ panel.link }}" class="nolinkcolour" title="Read abstracts for papers in the {{ panel.title }} panel">{{ panel.title }}</a>{% if panel.datetime %} <small><span class="badge badge-pill badge-dark">{{ record.datetime|date('l') }} at {{ record.datetime|date('g.i a') }}{% endif %}</span></small></h2>
            {% for paper in papers if panel.id in paper.relation.panels %}
            <div class="page-section-text">
                <div class="page-section-paper card">
                    <div class="paper-type">
                        {{ paper|taxonomy.types|first }}
                   </div>
                   <div class="paper-title">
                        <a href="{{ paper.link }}" title="Read {{ paper.title }}">
                            {{ paper.title }}
                        </a>
                    </div>
                    <div class="paper-authors">
                        {{ paper.authors|markdown }}
                    </div>
                </div>
            </div>
            {% else %}
            <div>
                <p>Unfortunately, no accepted papers could be found in this panel.</p>
            </div>
            {% endfor %}
        </div>
        {% if loop.index0 == panelsperside %}
            </div>
            <div class="page-section-2coltext-right">
        {% endif %}
    {% else %}
        <p>Unfortunately, no panels were be found.</p>
    {% endfor %}
    </div>
</div>

{% endblock %}
