{% extends 'partials/_master.twig' %}

{% block main %}
{% setcontent record = 'page/programme' %}
{% if record %}
    {% if app.request.get('preview') == "true" or record.redirect is empty %}
    {% include 'partials/_record.twig' with {'record': record} %}
    {% else %}
    {% include 'redirect.twig' with {'record': record} %}
    {% endif %}
{% else %}
{{ redirect(path('contentlink', {contenttypeslug: 'page', slug: '404-not-found'})) }}
{% endif %}

{% setcontent sessions = 'sessions.' orderby 'starttime' %}
{% setcontent events = 'programme' where { types: '!theme-setting' } %}
<div class="page-section page-section-text">
    {% set currentday = "Unscheduled" %}
    {% for session in sessions %}
        <div class="panelgap">
            {% if loop.first and session.starttime is empty %}
            <h2>Unscheduled</h2>
            {% elseif session.starttime is not empty and currentday != session.starttime|date('l') %}
            {% set currentday = session.starttime|date('l') %}
            <h2>{{ currentday }}</h2>
            {% endif %}
            {% set timeOffset = 5 %}
            {% set epochStart = session.starttime|date('U') %}
            {% set epochEnd = session.starttime|date('U') + (session.lengthmins * 60) %}
            {% set epochNow = "now"|date('U') %}
            {% if epochNow > epochEnd - timeOffset %}
                {% set badgeClass = "badge-secondary" %}
            {% elseif epochNow + timeOffset > epochStart %}
                {% set badgeClass = "badge-success" %}
            {% else %}
                {% set badgeClass = "badge-dark" %}
            {% endif %}
            <h3>{% if session.starttime %}<span class="badge badge-pill {{ badgeClass }}">{{ session.starttime|date('H:i') }}</span>{% endif %} <a href="{{ session.link }}" title="Read about the '{{ session.title }}' session">{{ session.title }}</a></h3>
            {% for event in events if session.id in event.relation.sessions %}
            <div class="page-section-text">
                <div class="page-section-paper card">
                    <div class="paper-type">
                        {{ event|taxonomy.types|first }}
                   </div>
                   <div class="paper-title">
                        <a href="{{ event.link }}" title="Read about '{{ event.title }}'">
                            {{ event.title }}
                        </a>
                    </div>
                    <div class="paper-authors">
                        {{ event.authors|markdown }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Unfortunately, no sessions were be found.</p>
    {% endfor %}
</div>

{% endblock %}