{% extends 'partials/_master.twig' %}

{% block main %}

<div class="page-title-wrapper">
    <h1 class="page-title">{{ record.title }}</h1>
</div>

{% if record.teaser is not empty %}
    <div class="page-section page-section-text">
        {{ record.teaser|markdown }}
    </div>
{% endif %}

<div class="page-section page-section-text">
    {% if record.datetime is not empty %}
    <p>The session will take place on <strong>{{ record.datetime|date('l jS') }}</strong> at <strong>{{ record.datetime|date('g.i a') }}</strong>.</p>{% endif %}
    {% setcontent events = 'programme' where { 'relation.sessions': record.id, types: '!theme-setting' } %}
    {% for event in events if record.id in event.relation.sessions %}
    <div class="page-section-text">
        <div class="page-section-paper card">
            <div class="paper-type">
                {{ event|taxonomy.types|first }}
           </div>
           <div class="paper-title">
                <a href="{{ event.link }}" title="Read about '{{ event.title }}'">
                    {{ event.title }}
                </a>
            </div>
            <div class="paper-authors italic">
                {{ event.authors|markdown }}
            </div>
            <div class="paper-text">
                {{ event.teaser|markdown }}
            </div>
        </div>
    </div>
    {% endfor %}
    <p>
                    <a href="{{ path('contentlisting', {contenttypeslug: 'programme'}) }}" title="Browse the complete HttF programme">&laquo; Browse the complete programme</a>
                    </p>
    </p>
</div>

{% endblock %}

