{% extends 'partials/_master.twig' %}

{% block main %}
{% setcontent record = 'page/themes' %}
{% include 'partials/_record.twig' with {'record': record} %}

{% setcontent sessions = 'sessions' where { session_types: 'panel' } orderby 'starttime' %}
{% setcontent papers = 'programme' where { types: 'theme-setting' } %}
{% set sessionsperside = (sessions|length // 2) - 1%}
<div class="page-section page-section-text twocoltext">
    <div class="page-section-2coltext-left">
    {% for session in sessions %}
        <div>
            <h2>{{ session.title }}</h2>
            {% for paper in papers if session.id in paper.relation.sessions %}
            <div class="page-section-text">
                <a href="{{ paper.link }}" title="Read {{ paper.title }}">
                    {{ paper.title }}
                </a>
                <em>{{ paper.authors|markdown }}</em>
            </div>
            {% else %}
            <div>
                <p><em>Unfortunately, no theme-setting papers were found in this session.</em></p>
            </div>
            {% endfor %}
        </div>
        {% if loop.index0 == sessionsperside %}
            </div>
            <div class="page-section-2coltext-right">
        {% endif %}
    {% else %}
        <p><em>Unfortunately, no sessions were found.</em></p>
    {% endfor %}
    </div>
</div>

{% endblock %}