{% setcontent sessions = 'sessions.' orderby 'starttime' %}
{% setcontent events = 'programme' where { types: '!theme-setting' } %}
{% if app.request.get('preview') == "true" %}
{% set linktrailer = "?preview=true" %}
{% endif %}

{% if app.request.get('showLatex') == "true" %}
<pre><code>
{%- set currentday = "Unscheduled" -%}
{%- set today = now|date('Y-m-d') -%}
{%- for session in sessions -%}
{%- if loop.first and session.starttime is empty %}
\day{Unscheduled sessions}
\begin{sessions}
{% elseif session.starttime is not empty and currentday != session.starttime|date('ljSFY') -%}
{%- if not loop.first %}
\end{sessions}
{%- endif -%}
{%- set currentday = session.starttime|date('ljSFY') -%}
{%- set isToday = (today == currentday) %}


\day{
{{- session.starttime|date('l jS F') -}}
}
\begin{sessions}
{% endif -%}
\session{
{%- if session.starttime %}{{ session.starttime|date('H:i') }}{% else %}Unsched.{% endif -%}
}{
{{- session.title|replace({'&': '\\&', '{': '\\{', '}': '\\}'}) -}}
} \\
{% setcontent events = 'programme' where { 'relation.sessions': session.id, types: '!theme-setting' } %}
{% for event in events if session.id in event.relation.sessions %}
    \event{
{{- event|taxonomy.types|first -}}%
}%
    {
{{- event.title|replace({'&': '\\&', '{': '\\{', '}': '\\}'}) -}}%
}%
    [
{{- event.authors|replace({'&': '\\&', '{': '\\{', '}': '\\}'})|striptags -}}%
]%
    {
{{- event.teaser|replace({'&': '\\&', '{': '\\{', '}': '\\}'})|striptags -}}%
}
{% endfor %}
{% endfor %}
\end{sessions}
</code></pre>
{% else %}

<button class="btn btn-primary btn-prg mb-2 rounded float-right collapsed" type="button" data-toggle="collapse" data-target=".session-events" aria-expanded="false" aria-controls=".session-events"><span class="session-events collapse show" style="transition: none !important;">Show session details</span><span class="session-events collapse" style="transition: none !important;">Hide session details</span></button>

<div class="accordion shadow rounded clear" id="programme">
    {% set currentday = "Not yet scheduled" %}
    {% set today = now|date('Y-m-d') %}
    {% for session in sessions %}
        {% if loop.first and session.starttime is empty %}
        <div class="card">
            <div class="card-header" id="headingUnscheduled">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#programmeUnscheduled" aria-expanded="false" aria-controls="programmeUnscheduled">Not yet scheduled sessions</button>
                </h2>
            </div>

            <div id="programmeUnscheduled" class="collapse" aria-labelledby="headingUnscheduled" data-parent="#programmeUnscheduled">
                <ul class="card-body list-unstyled">
        {% elseif session.starttime is not empty and currentday != session.starttime|date('Y-m-d') %}
            {% if not loop.first %}
        </ul>
    </div>
</div>
            {% endif %}
            {% set currentday = session.starttime|date('Y-m-d') %}
            {% set isFuture = (currentday >= today) %}
            <div class="card">
                <div class="card-header" id="heading{{ currentday }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#programme{{ currentday }}" aria-expanded="false" aria-controls="programme{{ currentday }}">{{ session.starttime|date('l jS F')  }}</button>
                    </h2>
                </div>
                <div id="programme{{ currentday }}" class="collapse {{ isFuture ? 'show' }}" aria-labelledby="heading{{ currentday }}" data-parent="#programme{{ currentday }}">
                    <ul class="card-body list-unstyled">
        {% endif %}
        {% set timeOffset = 300 %}
        {% set epochStart = session.starttime|date('U') %}
        {% set epochEnd = session.starttime|date('U') + (session.lengthmins * 60) %}
        {% set epochNow = "now"|date('U') %}
        {% if not session.starttime %}
            {% set timeClass = "programme-past" %}
        {% elseif session.lengthmins > 0 and epochNow > epochEnd - timeOffset %}
            {% set timeClass = "programme-past" %}
        {% elseif epochNow + timeOffset > epochStart %}
            {% set timeClass = "programme-now" %}
        {% else %}
            {% set timeClass = "programme-future" %}
        {% endif %}
        <li class="{{ timeClass }} d-flex flex-row align-items-start mb-3">{% if session.starttime %}<span class="badge badge-time">{{ session.starttime|date('H:i') }}</span>{% else %}<span class="badge badge-time">??:??</span>{% endif %} <div class="d-flex flex-column align-items-start prg-details"><a href="{{ session.link }}{{ linktrailer }}" title="Read about the '{{ session.title }}' {{ session|taxonomy.session_types|first|lower }}">{{ session.title }}</a>
        {% if show_events %}
        {% set these_events = events|filter(v => v.relation.sessions|first == session.id) %}
        {% if these_events %}
        <ol class="session-events collapse p-0 pb-sm-0 pb-3">
        {% for event in these_events %}
        <li class="d-flex flex-row align-items-start text-muted pt-2 pb-0 mb-0">
            <a href="{{ event.link }}{{ linktrailer }}" title="Read about '{{ event.title }}'" class="text-muted"><b>{{ event.title }}</b><br>{% if event.firstauthor != "" %}<em>{{ event.authors }}</em>{% endif %}</a>
        {% endfor %}
        </ol>
        {% endif %}
        {% endif %}</div></li>
    {% endfor %}
        </ul>
    </div>
</div>
</div>

{% endif %}
