        {% setcontent blocks = 'blocks' where { show_in_sidebar: true } orderby 'sidebar_ordering' %}
        {% for block in blocks %}
            <div class="card shadow rounded" class="p-2">
              <div class="card-body">
                <h5 class="card-title">{{ block.title }}</h5>
                {{ block.content|markdown }}
                {% if block.contentlink is not empty %}
                    <a href="{{ block.contentlink }}" class="card-link" title="{{ block.contentlink_title }}">{{ block.contentlink_text }}</a>
                {% endif %}
              </div>
            </div>
        {% endfor %}
        {% set tweets = twitter_user_timeline(screen_name = 'httfsymposium', count = 1, exclude_replies = true) %}
        <div class="card shadow rounded" class="p-2">
          <div class="card-body">
            <h5 class="card-title">@httfsymposium</h5>
            {% for tweet in tweets %}
                <em>{{ tweet.text|markdown }}</em>
                {{ tweet.created_at|date('jS F Y') }}</p>
            {% endfor %}
            <p><a href="https://twitter.com/httfsymposium" title="Follow us on Twitter">Follow us on Twitter</a></p>
          </div>
        </div>
