{% extends 'partials/_master.twig' %}

{% block main %}

    {% set session = record.related('sessions')|first %}
    {% set eventtype = record|taxonomy.types|first %}

    <div class="breadcrumb-container col-12">
        <nav aria-label="breadcrumb" class="shadow rounded">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ config.get('general/sitename') -}}</a></li>
                <li class="breadcrumb-item"><a href="/programme">Programme</a></li>
                <li class="breadcrumb-item"><a href="{{ path('contentlink', {contenttypeslug: 'sessions', slug: session.slug}) }}">{{ session.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ eventtype }}</li>
            </ol>
        </nav>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-7 col-12">
        <div class="jumbotron p-3 m-0 mb-3 rounded shadow">
            <h1>{{ record.title }}</h1>
            {{ record.authors|markdown }}
        </div>
        <article>
            <div>
                {{ record.teaser|markdown }}
            </div>
        </article>
    </div>
    <aside class="col-xl-3 col-lg-4 col-md-5 col-12">
      {% set starttime = session.starttime ? session.starttime|date_modify("+" ~ (record.sessionoffset) ~ " mins")|date('H:i') : '' %}
      {% if (starttime is not empty and eventtype != "Theme-setting paper") or (record.download is not empty) %}
      <div class="card shadow rounded" class="p-2">
        <div class="card-body">
          {% if starttime is not empty and eventtype != "Theme-setting paper" %}
          <div class="media event-details{{ session.location ? ' mb-3' : '' }}">
            <i class="fas {% if eventtype == "Keynote" %}fa-keynote{% elseif record.poster %}fa-users-class{% elseif eventtype ends with "paper" %}fa-presentation{% else %}fa-microphone{% endif %} mr-2 event-details-icon" title="This is a {{ eventtype|lower }}{{ record.poster ? ' given as a poster' : ' given as a presentation' }}" aria-label="This is a {{ eventtype|lower }}{{ record.poster ? ' given as a poster' : ' given as a presentation' }}"></i>
            <div class="media-body">{% if eventtype == "Keynote" %}<strong>Keynote</strong>{% elseif eventtype ends with "paper" %}{{ eventtype }}, given as a <strong>{{ record.poster ? 'poster' : 'presentation' }}</strong>{% else %}<strong>Panel</strong>{% endif %}</div>
          </div>
          {% if session.location %}
          <div class="media event-details">
            <i class="fas fa-location-circle mr-2 event-details-icon" title="Location of the {{ sessiontype|lower }}" aria-label="Location of the {{ sessiontype|lower }}"></i>
            <div class="media-body">{% if session.locationlink %}<a href="{{ session.locationlink }}" title="About {{ session.location }}">{{ session.location }}</a>{% else %}{{ session.location }}{% endif %}</div>
          </div>
          <hr>
          {% endif %}
          <div class="media event-details mb-3">
            <i class="fas fa-calendar-day mr-2 event-details-icon" title="Date of the {{ eventtype|lower }}"aria-label="Date of the {{ eventtype|lower }}"></i>
            <div class="media-body"><strong>{{ session.starttime|date('D. jS F') }}</strong></div>
          </div>
          <div class="media event-details {{ record.lengthmins > 0 ? 'mb-3' }}">
            <i class="fas fa-clock mr-2 event-details-icon" title="{% if record.sessionoffset > 0 %}Approximate{% else %}Scheduled{% endif %} start time of the {{ eventtype|lower }}" aria-label="{% if record.sessionoffset > 0 %}Approximate{% else %}Scheduled{% endif %} start time of the {{ eventtype|lower }}"></i>
            <div class="media-body">{{ record.poster ? 'Presented from' : 'Starts at' }} <strong>{{ starttime|date('H:i') }}</strong>{% if record.sessionoffset > 0 %} approx.{% endif %}</div>
          </div>
          {% if record.lengthmins > 0 %}
          <div class="media event-details mb-0">
            <i class="fas fa-hourglass-end mr-2 event-details-icon" title="Length of the {{ eventtype|lower }}" aria-label="Length of the {{ eventtype|lower }}"></i>
            <div class="media-body"><strong>{{ record.lengthmins }}</strong> minutes long</div>
          </div>
          {% endif %}
          {% endif %}
          {% if eventtype != "Theme-setting paper" and record.download is not empty %}
          <hr>
          {% endif %}
          {% if record.download is not empty %}
          <div class="media event-details mb-0">
            <i class="fas fa-download mr-2 event-details-icon" title="Access a copy" aria-label="Access a copy"></i>
            <div class="media-body"><a href="{{ record.download }}" title="Access a copy"><strong>Download</strong></a>{% if record.freedownload %} (free){% else %} (not free){% endif %}</div>
          </div>
          {% endif %}
        </div>
      </div>
        {% endif %}
        {% if record.citation is not empty %}
        <div class="card shadow rounded" class="p-2">
          <div class="card-body">
            <h5 class="card-title">Reference</h5>
            <p class="card-text">
                {{ record.citation|markdown }}
            </p>
          </div>
        </div>
        {% endif %}
    </aside>

{% endblock main %}
