{% use 'partials/_sub_field_blocks.twig' %}
{% extends 'partials/_master.twig' %}

{% block main %}

    {% set sessiontype = record|taxonomy.session_types|first %}

{% if app.request.get('preview') == "true" %}
{% set showcontent = true %}
{% set linktrailer = "?preview=true" %}
{% elseif sessiontype == 'Session' %}
{% setcontent programme_record = 'page/programme' %}
{% if programme_record.redirect is not empty %}
{% include 'redirect.twig' with {'record': programme_record} %}
{% else %}
{% set showcontent = true %}
{% endif %}
{% else %}
{% set showcontent = true %}
{% endif %}
{% if showcontent %}

    <div class="breadcrumb-container col-12">
        <nav aria-label="breadcrumb" class="shadow rounded">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ config.get('general/sitename') -}}</a></li>
                <li class="breadcrumb-item"><a href="/programme{{ linktrailer }}">Programme</a></li>
                <li class="breadcrumb-item active">{{ record.title }}</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <h1>{{ record.title }}</h1>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-7 col-12">
        <article>
            {% if record.image is not empty %}
                {% set fieldtype = record.fieldtype('image') %}
                {% set value = record.get('image') %}
                {% set alt = record.imagecaption %}
                {% set caption = record.imagecaption %}
                {% if alt|trim is empty %}{% set alt = caption %}{% endif %}
                {{ block('common_fields') }}
            {% endif %}

            {{ record.teaser|markdown }}

            {% setcontent events = 'programme' where { 'relation.sessions': record.id, types: '!theme-setting' } %}
            <ul class="list-unstyled session rounded shadow shadow-darker">
            {% for event in events if record.id in event.relation.sessions %}
                {% set starttime = record.starttime ? (event.sessionoffset > 0 ? record.starttime|date_modify("+" ~ (event.sessionoffset) ~ " mins")|date('H:i') : record.starttime|date('H:i'))  : 'Not yet scheduled' %}
                <li class="media p-3 mb-1 mt-1 d-flex flex-sm-row flex-column">
                    <div class="event-type small text-uppercase mr-sm-3 mb-sm-0 mb-2">
                        {% set type = event|taxonomy.types|first %}
                        {% if type ends with "paper" %}Paper{% else %}{{ type }}{% endif %} &nbsp;&nbsp;<span class="badge badge-light event-time">{{ starttime }}</span>
                    </div>
                    <div class="media-body">
                        <h5 class="my-0">
                        <a href="{{ event.link }}{{ linktrailer }}" title="Read more about the {% if type ends with "paper" %}the paper '{{ event.title }}'{% else %}{{ event.title }}{% endif %} ">
                            {{ event.title }}
                        </a>
                        </h5>
                        {{ event.authors|trim|raw }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </article>
    </div>
    <aside class="col-xl-3 col-lg-4 col-md-5 col-12">
        {% if record.starttime is not empty %}
        <div class="card shadow shadow-darker rounded" class="p-2">
          <div class="card-body">
            {% if record.location %}
            <div class="media event-details">
              <i class="fas fa-location-circle mr-2 event-details-icon" title="Location of the {{ sessiontype|lower }}" aria-label="Location of the {{ sessiontype|lower }}"></i>
              <div class="media-body">{% if record.locationlink %}<a href="{{ record.locationlink }}" title="About {{ record.location }}">{{ record.location }}</a>{% else %}{{ record.location }}{% endif %}</div>
            </div>
            <hr>
            {% endif %}
            <div class="media event-details mb-3">
              <i class="fas fa-calendar-day mr-2 event-details-icon" title="Date of the {{ sessiontype|lower }}" aria-label="Date of the {{ sessiontype|lower }}"></i>
              <div class="media-body"><strong>{{ record.starttime|date('D.') }}</strong> {{ session.starttime|date('jS F') }}</div>
            </div>
            <div class="media event-details mb-3">
            <i class="fas fa-clock mr-2 event-details-icon" title="Scheduled start time of the {{ sessiontype|lower }}" aria-label="Scheduled start time of the {{ sessiontype|lower }}"></i> 
            <div class="media-body"><strong>{{ record.starttime|date('H:i') }}</strong></div>
            </div>

            {% if record.lengthmins >= 60 %}
            <div class="media event-details mb-0">
              <i class="fas fa-arrow-to-right mr-2 event-details-icon" title="End time of the {{ sessiontype|lower }}" aria-label="End time of the {{ sessiontype|lower }}"></i>
              <div class="media-body"><strong>{{ record.starttime|date_modify("+" ~ record.lengthmins ~ " mins")|date('H:i') }}</strong></div>
            </div>
            {% else %}
            <div class="media event-details mb-0">
              <i class="fas fa-hourglass-end mr-2 event-details-icon" title="Length of the {{ sessiontype|lower }}" aria-label="Length of the {{ sessiontype|lower }}"></i>
              <div class="media-body"><strong>{{ record.lengthmins }}</strong> minutes</div>
            </div>
            {% endif %}
          </div>
          {% if sessiontype == 'Session' %}
          <div class="card-footer"><em>Start times shown for specific talks are approximate.</em></div>
          {% endif %}
        </div>
        {% endif %}
        {% if record.chair is not empty %}
        <div class="card active shadow shadow-darker rounded" class="p-2">
          <div class="card-body">
            <h5 class="card-title">Panel chair</h5>
            <p class="card-text">
                {{ record.chair }}
            </p>
          </div>
        </div>
        {% endif %}
    </aside>


{% endif %}
{% endblock main %}
